@import "./vars";

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: $color-eerie-black;
  color: $color-white;
  -moz-transition: padding-left $transition-speed;
  -ms-transition: padding-left $transition-speed;
  -o-transition: padding-left $transition-speed;
  -webkit-transition: padding-left $transition-speed;
  transition: padding-left $transition-speed;
  padding-left: 7rem;
  font-family: $font-text;
  height: 100%;
}

.expanded {
  -moz-transition: padding-left $transition-speed;
  -ms-transition: padding-left $transition-speed;
  -o-transition: padding-left $transition-speed;
  -webkit-transition: padding-left $transition-speed;
  transition: padding-left $transition-speed;
  padding-left: 15rem;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}
