// Font
$font-text: "Lato", sans-serif;
$font-size: 32px;

// Colors use (https://www.color-name.com/)
$color-eerie-black: #1d1d1d;
$color-white: #ffffff;
$color-eerie-black-v2: #181818;
$color-fluorescent-blue: #15f4ee;
$color-american-rose: #ff0a47;

// Transition
$transition-speed: 0.5s;
