@import "./vars";

.menu {
  display: flex;
  flex-direction: column;
  width: 5rem;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  margin: 1px;
  padding: 5rem 1rem;
  background-color: $color-eerie-black-v2;
  -moz-transition: width $transition-speed;
  -ms-transition: width $transition-speed;
  -o-transition: width $transition-speed;
  -webkit-transition: width $transition-speed;
  transition: width $transition-speed;

  &__logo {
    display: flex;
    flex-direction: column;
    height: 5%;
    text-decoration: none;
    color: $color-white;

    &-name {
      font-size: 64px;
      &--expanded {
        font-size: $font-size;
      }
    }

    &-role {
      padding: 1rem 0;
      display: none;

      &--expanded {
        display: block;
      }
    }

    &-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0;
      span {
        font-size: $font-size;
      }

      &--expanded {
        flex-direction: row;
        padding: 0;
        span {
          font-size: 24px;
        }
      }
    }

    &:hover {
      color: $color-fluorescent-blue;
    }

    &--active {
      color: $color-platinum;
    }
  }

  &__navigation {
    width: 100%;
  }

  &__links {
    width: 100%;
  }

  &--expanded {
    -moz-transition: width $transition-speed;
    -ms-transition: width $transition-speed;
    -o-transition: width $transition-speed;
    -webkit-transition: width $transition-speed;
    transition: width $transition-speed;
    width: 13rem;

    // margin: 0;
  }

  &__arrow {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(-90deg);
    width: 24px;
    height: 24px;

    -moz-transition: transform $transition-speed;
    -ms-transition: transform $transition-speed;
    -o-transition: transform $transition-speed;
    -webkit-transition: transform $transition-speed;
    transition: transform $transition-speed;

    span {
      border-radius: 100%;
      color: $color-black;
      background-color: $color-white;
    }

    &--expanded {
      transform: rotate(90deg) translate(-50%, -50%);

      -moz-transition: transform $transition-speed;
      -ms-transition: transform $transition-speed;
      -o-transition: transform $transition-speed;
      -webkit-transition: transform $transition-speed;
      transition: transform $transition-speed;
    }
  }

  &:hover {
    margin: 0;
    border: 1px solid $color-platinum;

    .menu__arrow {
      display: block;
      cursor: pointer;
      span {
      }
    }
  }
}
